<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="contact-gcn">
				<div class="img-care-bog">
					<%= image_tag 'enquiry.png', :class => "img-responsive" %>
				</div>
				<p>Enquiry</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="contact-gcn">
				<div class="img-care-bog">
					<%= image_tag 'contact.png', :class => "img-responsive" %>
				</div>
				<p>Customer Service</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="contact-gcn">
				<div class="img-care-bog">
					<%= image_tag 'faq.png', :class => "img-responsive" %>
				</div>
				<p>FAQ</p>
			</div>
		</div>
	</div>
</div>