<!-- <div>
	<div class="container-fluid" id="slider-comments">
		<div class="row">
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="comments-block">
					<div class="user-img">
						<%#= image_tag "raju.jpg", :class=>"img-responsive img-circle user-pic" %>
					</div>
					<h4 class="user-name">Raj Bm</h4>
					<p class="comment-body">
						You asked, Font Awesome delivers with 30 shiny new icons in version 4.6. Want to request new icons? Here's how
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="slide-directions">
			<i class="fa fa-angle-left fa-3x" id="next" aria-hidden="true"></i>
			<i class="fa fa-angle-right fa-3x" id="prev" aria-hidden="true"></i>
	</div>
</div> -->