<div class="main-slider">
	<i class="fa fa-angle-left fa-5x" id="prevhome" aria-hidden="true"></i>
	<i class="fa fa-angle-right fa-5x" id="nexthome" aria-hidden="true"></i>
	<div class="container pics">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "seo.png", :class=>"img-responsive multimedia-image" %>
			</div>
			<div class="col-md-4">
				<div class="text-center main-gcn-text">
					<h1 class="">GCN BROADBAND</h1>
					<h3>India's No.1 High Speed Internet</h3>
					<p>Fastest Growing Fiber Network</p>
				</div>
			</div>
			<div class="col-md-4 family-img-col">
				<%= image_tag "family.png", :class=>"img-responsive multimedia-image-family" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="gcn-title">
					<h1>Business Internet Solutions</h1>
					<h3>Most Suitable for MNC's Large Corporates, Software Companies etc.. </h3>
					<a href="#" class="btn btn-lg btn-default btn-slider">click here <i class="fa fa-caret-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-5 family-img-col">
				<%= image_tag "business-internet.png", :class=>"img-responsive multimedia-image-business" %>
			</div>
			<div class="col-md-3">
				<div class="bussiness-broadband-specs">
					<ul>
						<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Static IP addresses</li>
						<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Unlimited Access</li>
						<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Affordable high bandwidth</li>
						<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Fully integrated Services</li>
						<li><i class="fa fa-check-circle-o" aria-hidden="true"></i> Capability</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row"><!--slide-two-->
			<div class="col-md-4">
				<div class="second-slider-left">
					<h2>FIND THE BEST</h2>
					<h2>deals in your area</h2>
					<p>ENTER YOUR ADDRESS TO VIEW</p>
					<P>LOCAL OFFERS AND PRICING</P>
					<a href="#" class="btn btn-lg btn-default btn-slider">click here <i class="fa fa-caret-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-4">
				<%= image_tag "oie_1193154MlYQCi7o.png", :class=>"img-responsive multimedia-image" %>
			</div>
			<div class="col-md-4">
				<div class="second-slider-right-main">
					<div class="second-slider-right">
						<div class="fa-icon"><i class="fa fa-cogs fa-4x"></i></div>
						<div class="text-icon">
							<h3>EQUIPMENT</h3>
							<h3>INSTALLATION & SETUP</h3>
						</div>
					</div>
					<div class="second-slider-right">
						<div class="fa-icon"><i class="fa fa-comments-o fa-4x"></i></div>
						<div class="text-icon">
							<h3>CUSTOMER</h3>
							<h3>SUPPORT CENTER</h3>
						</div>
					</div>
					<div class="second-slider-right">
						<div class="fa-icon"><i class="fa fa-umbrella fa-4x"></i></div>
						<div class="text-icon">
							<h3>CUSTOMER</h3>
							<h3>GUARANTEE</h3>
						</div>
					</div>
				</div>
			</div>
		</div><!--slide-two-end-->
	</div>
</div>
