<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%= image_tag 'about-Us1.png', :class => "img-responsive careen-img" %>
			</div>
			<div class="col-md-6">
				<%= image_tag 'Career.png', :class => "img-responsive careen-img" %>
			</div>
		</div>
	</div>

<br/>
<br/>
<br/>




<br/>
<br/>
<br/>




	<%= render 'care' %>
</div>

<script type="text/javascript">
	
</script>