<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%#= image_tag 'contact-india.png', :class => "img-responsive careen-img" %>
			</div>
			<div class="col-md-4">
				<%= image_tag 'call-girl.png', :class => "img-responsive careen-img" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="main-heads">Contact Us</h1>
				<div class="bottom-line"></div>
			</div>
		</div>
	</div>
	<br/>
	<div class="container" id="contact-background">
	<div class="row">
		<div class="col-md-4">
			<div class="sample">
			  <label for="s5">Select Your Location</label>
			  <div class="form-group">
			    <label for="s1">Select Your Location</label>
			    <select id="s1" class="form-control select">
			      <option value="Apple fritter">BANGALORE</option>
			      <option value="Croissant">TIRUPATI</option>
			      <option value="Donut">ANDRA PRADESH</option>
			      <option value="Financier">GUJARAT</option>
			      <option value="Jello">KARNATAKA</option>
			      <option value="Madeleine">CHANNAI</option>
			      <option value="Pound cake">PANJAB</option>
			      <option value="Pretzel">KOLKATTA</option>
			      <option value="Sfogliatelle">NEW DELHI</option>
			    </select>
			    <i class="fa fa-map-marker fa-2x location" aria-hidden="true"></i>
			  </div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="gcn-address"></div>
		</div>
	</div>
		<%#= image_tag 'contact-us.png', :class => "img-responsive careen-img" %>
	</div>
	<br/>
	<%= render 'care' %>
</div>