<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag 'contact-india.png', :class => "img-responsive careen-img" %>
			</div>
			<div class="col-md-8">
				<%#= image_tag 'call-girl.png', :class => "img-responsive careen-img" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="main-heads">Contact Us</h1>
				<div class="bottom-line"></div>
			</div>
		</div>
	</div>
	<br/>
	<div class="container" id="contact-background">
	<div class="row">
		<div class="col-md-4">
			<h1 class="header">Dropdown</h1>

			<div class="sample">
			  <div class="form-group">
			    <label for="s1">Your favorite pastry</label>
			    <select id="s1" class="form-control">
			      <option value="Apple fritter">Apple fritter</option>
			      <option value="Croissant">Croissant</option>
			      <option value="Donut">Donut</option>
			      <option value="Financier">Financier</option>
			      <option value="Jello">Jello</option>
			      <option value="Madeleine">Madeleine</option>
			      <option value="Pound cake">Pound cake</option>
			      <option value="Pretzel">Pretzel</option>
			      <option value="Sfogliatelle">Sfogliatelle</option>
			    </select>
			  </div>
			  <br>

			  <div class="form-group">
			    <label for="s2">Your favorite pastry</label>
			    <select id="s2" class="form-control" disabled="">
			      <option value="disabled">Disabled</option>
			    </select>
			  </div>
			</div>
			<br>

			<p>Dropdowns provided by
			  <a href="https://github.com/FezVrasta/dropdown.js" target="_blank">Dropdown.js</a></p>
		</div>
		<div class="col-md-8">
			
		</div>
	</div>
		<%#= image_tag 'contact-us.png', :class => "img-responsive careen-img" %>
	</div>
	<br/>
	<%= render 'care' %>
</div>