<div class="wrapper-two">
	<%= render 'layouts/navbar' %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%= image_tag 'about-Us1.png', :class => "img-responsive careen-img" %>
			</div>
			<div class="col-md-6">
				<%= image_tag 'Career.png', :class => "img-responsive careen-img" %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="main-heads">Plans</h1>
				<div class="bottom-line"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3><strong>Home Users</strong></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3><strong>Enterprise</strong></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3><strong>Corporate</strong></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="plans-main-block">
					
				</div>
			</div>
		</div>
	</div>
	<br/>
	<%= render 'care' %>
</div>